
  /*pagina gracias */
  .alto {
    height: 85vh;  
  }
  .gracias2 {
    padding: 100px 20px;
  }
  .servicios-description {
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
  }
  .gracias-text {
    margin: 80px 40px 100px 40px;
  }
  .contacto-titulo {
    padding: 30px 15px;
  }
  /*cajas servicios home*/
  .portfolio-item {
    margin-bottom: 30px;
  }
/*carrusel clientes*/
  .carousel-caption-2{
    color: #000;
}
.carousel-item-2{
  height: 180px;
  margin: auto;
}
.fondo-color {
  background: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 190px;
}
.fondo-color2 {
  background-image: linear-gradient( gray, White );
  padding: 70px 130px 50px 130px;


}
@media  (max-width: 800px) {
  .subheading {
    padding-right: 10px;
    background-color: red;
  }
}

.margen1{
  margin-top: 6rem;
}

