
  
  .cambiar:hover
  {
    /* color:#494c46; */
    -webkit-transform: scale(1.1);
    -ms-transform: scale(0.8);
    transform: scale(1.1);
   
  }

  .alto {
    height: 85vh;  
  }
  .gracias2 {
    padding: 100px 20px;
  }
  .servicios-description {
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
  }
  .gracias-text {
    margin: 80px 40px 100px 40px;
  }
  .contacto-titulo {
    padding: 30px 15px;
  }


.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}
