html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: $color-texto-titulos; 

}   

a.nav-link{
    &:hover{
        color:rgb(0, 204, 255);
        border-top: 3px solid rgb(0, 204, 255);
        padding: 15 px;
    }
}
    
header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;

    & .subheading {
        line-height: 1.1;
        display: block;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

h1,h2,h3{
    color: $color-texto-titulos;

    &.principal-title {
        text-align: left;
    }
    &.titulo-principal-modulo{
        font-family: 'Fjalla One' sans-serif;
        text-align: center;
        padding: 20px 15px;
        font-size: large;
    }
    &.centrar-texto {
        text-align: center;
        margin-top: 90px;
        margin-bottom: 35px;
      }
    &.partner{
        margin-bottom: 20px;
        text-align: center;
    }
}
div {

    &.serv-text{ 
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
        margin: auto;
        text-align: center;
    }
    &.container-serv {
        padding-right: 15px;
        padding-left: 15px;
        margin-right:auto ;
        margin-left: auto;
    } 
    a {
        &.boton-contacto{
            margin-top: 6rem;
        }
    }
    a:hover {
        text-decoration: none;
    }
    
  }

  footer {
    color: $color-blanco;
}