
/*color de textos*/

$color-texto-titulos: #333333;
$texto-footer: #ffffff;

/*color de fondos*/
$color-fondo-gris: #eeee;
$color-fondo-blanco: #ffffff;


/*botones*/

$color-boton-borde: #0076ff;
$color-boton-fondo:#0076ff; 

$color-negro: rgba(0,0,0,0.75); 